<!DOCTYPE html>
<html lang="en">
    <head> 
    <div th:replace="component :: cssLoad"></div>
    
    <div th:replace="component :: title"></div>
	</head>
	<body>
		<div th:replace="component :: cmsHeader"></div>
		<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
			<form id="myTemplateForm" action="#" th:action="@{/admin/templates/save}" method="post">
				
				<div class="row">
					<div class="col-sm-6 text-right">
						<span>Template Name</span>
					</div>
					<div class="col-sm-62 text-left">
						<input type="text" name="templateName" id="templateName" />
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-6 text-center">
						<div id="addRows" class="btn btn-sm btn-info">Add Row</div>
					</div>
					<div class="col-sm-6 text-center">
						<div class="btn btn-sm btn-success" id="savetemplate">&nbsp;save&nbsp;&nbsp;</div>
					</div>
				</div>
				<br/>
				<div id="addCols" class="jumbotron">
					<div class="row">
						<div class="col-sm-3">
							<span>Column</span>
						</div>
						<div class="col-sm-9 text-center">
							<select id="colId" class="selectpicker">
							  <option>100%</option>
							  <option>33%-66%</option>
							  <option>66%-33%</option>
							  <option>33%-33%-33%</option>
							  <option>25-75%</option>
							  <option>75%-25%</option>
							  <option>50%-50%</option>
							  <option>25%-25%-25%-25%</option>
							</select>				
						</div>
						<div class="col-sm-1 text-right">
							<br/>
							<div id="addRowsCols" class="btn btn-sm btn-info">Apply</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row text-center">
						<div class="col-sm-4" >
							<div id="userModeAction" class="btn btn-sm btn-info hidden">User Mode</div>
						</div>
						<div class="col-sm-4" >
							<div id="getHtmlAction" class="btn btn-sm btn-warning hidden">Get-HTML</div>
						</div>
						<div class="col-sm-4" >
							<div id="adminModeAction" class="btn btn-sm btn-success hidden">Admin Mode</div>	
						</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-12 text-right">
						<div id="btncopy" class="btn btn-sm btn-info hidden">copy-code</div>
					</div>
				</div>
				<div class="row">
						<div class="col-sm-12">
							<code id="myHtmlView" class="hidden" style=display:block;white-space:pre-wrap>...</code>
							<input type="hidden" name="content" id="myHtml"  class="form-control"/> 
						</div>
				</div>
				</form>
			</div>
			<div class="col-sm-8">
				<div class="row jumbotron">
					<div class="col-sm-12">Header</div>
				</div>
				<div class="" id="templateBody">
					<div id="tpb">
						
					</div>
				</div>
				<div class="row jumbotron">
					<div class="col-sm-12">Footer</div>
				</div>
				
		    </div>
	    </div>
	    </div>
		<div th:replace="component :: createTemplateJsLoad"></div>
	</body>
</html>