<!DOCTYPE html>
<html lang="en">
    <head> 
    <div th:replace="component :: cssLoad"></div>
    
    <div th:replace="component :: title"></div>
	</head>
	<body>
		<div class="row">
			<div class="col-sm-12">
				<div th:replace="component :: cmsHeader"></div>
			</div>
		</div>
		<div th:fragment="3col">
			<div class="container" id="templateBody">    
				<div class="row jumbotron">
					<div class="col-sm-12">Header</div>
				</div>
		        <div class="row full-border" > 
		        	<div id="1template" class="col-sm-4 text-center full-border" > 
		        		<div id="1btn" class="btn btn-sm btn-info rmadmin addtemplateContainer">Add-container</div>
		        	</div>
		        	<div id="2template" class="col-sm-4 text-center full-border" >
		        		<div id="2btn" class="btn btn-sm btn-info rmadmin addtemplateContainer">Add-container</div>
		        	</div>
		        	<div id="3template" class="col-sm-4 text-center full-border" >
		        		<div id="3btn" class="btn btn-sm btn-info rmadmin addtemplateContainer">Add-container</div>
		        	</div>
		        </div>
		        <div class="row jumbotron">
					<div class="col-sm-12">Footer</div>
				</div>
				<div class="row text-center">
					<div class="col-sm-4" >
						<div id="userModeAction" class="btn btn-sm btn-info">User Mode</div>
					</div>
					<div class="col-sm-4" >
						<div id="getHtmlAction" class="btn btn-sm btn-warning">Get-HTML</div>
					</div>
					<div class="col-sm-4" >
						<div id="adminModeAction" class="btn btn-sm btn-success">Admin Mode</div>	
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<textarea id="myHtml" readonly rows="50" cols="10" class="form-control"></textarea>
					</div>
				</div> 
				
		    </div>
	    </div>
		<div th:replace="component :: jsLoad"></div>
	</body>
</html>