<!DOCTYPE html>
<html lang="en">
<head>
<div th:replace="component :: cssLoad"></div>

<div th:replace="component :: title"></div>
</head>
<body>
	<div class="row">
		<div class="col-sm-12">
			<div th:replace="component :: cmsHeader"></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 jumbotron">
				<form action="#" th:action="@{/admin/host/header-footer-save}" method="post">
					<div class="row">
						<div class="col-sm-4">
							<strong>Your Host</strong>
						</div>
						<div class="col-sm-8">
							<input type="text" name="hostName" th:value="${data.hostName}"
								class="form-control" readonly />
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-sm-4">
							<strong>Header/Footer Name</strong>
						</div>
						<div class="col-sm-8">
							<input type="text" name="headerFooterName" class="form-control" />
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-sm-4">
							<strong>Select-Template</strong>
						</div>
						<div class="col-sm-8">
							<select name="templateName" id='myTemplate' class='form-control'>
								<option>Templates</option>
								<option th:each="template : ${data.templates}"
									th:value="${template.templateName}"
									th:text="${template.templateName}">
									Options</option>
							</select>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-sm-4">
							<strong>Header/Footer</strong>
						</div>
						<div class="col-sm-8">
							<label class="radio-inline"><input type="radio" value="header" name="type">header</label>
							<label class="radio-inline"><input type="radio" value="footer" name="type">footer</label>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-sm-12">
							<input class="btn btn-sm btn-success" type="submit" value="save" />
						</div>
					</div>
				</form>
			</div>

			<!-- Template Preview -->
			<div class="col-sm-6 full-border" style="height: 288px;">
				<div id="templatePreview"></div>
			</div>

		</div>
	</div>
	<div th:replace="component :: jsLoadCreatePage"></div>
</body>
</html>