.full-border{
	border:1px solid;
}
.left-border{
	border-left:1px solid;
}
.right-border{
	border-right:1px solid;
}
.top-border{
	border-top:1px solid;
}
.bottom-border{
	border-bottom:1px solid;
}
.placeholder-color::-webkit-input-placeholder {
    color: #A52A2A;
}