<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="resources/js/jHtmlArea-0.7.0.min.js"></script>

<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript">
$("#body").htmlarea();
</script>
</head>
<body>
<textarea rows="5" cols="5"></textarea>

<!-- <div><textarea></textarea></div> -->
</body>