<!DOCTYPE html>
<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
	<script>
		function statusChangeCallback(response) {
			console.log('statusChangeCallback');
			console.log(response);

			if (response.status === 'connected') {

				testAPI();
			} else if (response.status === 'not_authorized') {

				document.getElementById('status').innerHTML = 'Please log '
						+ 'into this app.';
			} else {

				document.getElementById('status').innerHTML = 'Please log '
						+ 'into Facebook.';
			}
		}

		function checkLoginState() {
			FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
			});
		}

		window.fbAsyncInit = function() {
			FB.init({
				/* must one thing care about that in development of your facebook-app only app's owner can login 
				if you want to login every one the must be to live your facebook-app using facebook-canvas */
				appId : '1131060046929336',
				cookie : true,

				xfbml : true,
				version : 'v2.7'
			});

			FB.getLoginStatus(function(response) {

				statusChangeCallback(response);
			});

		};

		(function(d, s, id) {

			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		function testAPI() {
			console.log('Welcome!  Fetching your information.... ');
			FB
					.api(
							'/me',
							function(response) {
								console.log('Successful login for: '
										+ response.name);

								
								
								var myJson = { 'id' : response.id, 'name' : response.name, 'gender' : response.gender, 'emailId' : response.email };
				            	
								alert(JSON.stringify(myJson));
								
				            	var request = $.ajax({
				            		  url: "/cmsapp/admin/google/social-login",
				            		  type: "POST",
				            		  data: JSON.stringify(myJson),
				            		  dataType: "json",
				            		  headers: { 
				            		        'Accept': 'application/json',
				            		        'Content-Type': 'application/json' 
				            		    }
				            		});

				            		request.done(function(msg) {
				            		  alert(JSON.stringify(msg));
				            		});

				            		request.fail(function(jqXHR, textStatus) {
				            		  alert( "Request failed: " + textStatus );
				            		});
								
								
								
								document.getElementById('status').innerHTML = 'Thanks for logging in, '
										+ response.name + '!';
							}, {
								fields : 'id,name,email,gender'
							});
		}
	</script>

	<fb:login-button scope="public_profile,email"
		onlogin="checkLoginState();">
	</fb:login-button>

	<div id="status"></div>

</body>
</html>